<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Showtime</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>
<body>

<div th:replace="~{admin/fragments/navbar :: admin-nav}"></div>

<div class="container mt-4">
    <h3>Edit Showtime</h3>

    <form id="editShowtimeForm">

        <input type="hidden" id="id">

        <div class="mb-3">
            <label>Movie</label>
            <input type="text" id="movieTitle" class="form-control" readonly>
            <input type="hidden" id="movieId">
        </div>

        <div class="mb-3">
            <label>Room</label>
            <input type="text" id="roomName" class="form-control" readonly>
            <input type="hidden" id="roomId">
        </div>

        <div class="mb-3">
            <label>Start Time</label>
            <input type="datetime-local" id="startTime" class="form-control">
        </div>

        <div class="mb-3">
            <label>Base Price</label>
            <input type="number" id="price" class="form-control">
        </div>

        <div class="mb-3">
            <label>Format</label>
            <select id="format" class="form-control">
                <option value="TWO_D">2D</option>
                <option value="THREE_D">3D</option>
                <option value="IMAX">IMAX</option>
            </select>
        </div>

        <div class="mb-3">
            <label>Status</label>
            <select id="status" class="form-control">
                <option value="ACTIVE">Active</option>
                <option value="INACTIVE">Inactive</option>
            </select>
        </div>

        <button class="btn btn-primary">Update</button>
    </form>
    <div id="message"></div>
</div>
<script th:src="@{/js/admin/admin-auth.js}"></script>
<script th:src="@{/js/admin/editShowtime.js}"></script>
</body>
</html>