<div xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
<section  id="footer_t" >
    <div class="container-fluid">
        <div class="footer_t1 row">
            <div class="col-md-4 p-0">
                <div class="footer_ti position-relative">
                    <div class="footer_ti1">
                        <div class="grid clearfix">
                            <figure class="effect-jazz mb-0">
                                <a href="#"><img th:src="@{/img/12.jpg}" class="w-100" alt="img25"></a>
                            </figure>
                        </div>
                    </div>
                    <div class="footer_ti2 bg_back pt-5 text-center px-4 position-absolute w-100 h-100 top-0">
                        <span class="d-inline-block bg-white rounded-circle col_oran fs-1"><i class="fa fa-youtube-play"></i></span>
                        <h2 class="mb-0 text-white mt-3">Top 5 Movies in Theaters</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-0">
                <div class="footer_ti position-relative">
                    <div class="footer_ti1">
                        <div class="grid clearfix">
                            <figure class="effect-jazz mb-0">
                                <a href="#"><img src="img/13.jpg" class="w-100" alt="img25"></a>
                            </figure>
                        </div>
                    </div>
                    <div class="footer_ti2 bg_backn1 pt-5 text-center px-4 position-absolute w-100 h-100 top-0">
                        <span class="d-inline-block bg-white rounded-circle col_oran fs-2"><i class="fa fa-film"></i></span>
                        <h2 class="mb-0 text-white mt-3">Watch Coming Soon Movies</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-0">
                <div class="footer_ti position-relative">
                    <div class="footer_ti1">
                        <div class="grid clearfix">
                            <figure class="effect-jazz mb-0">
                                <a href="#"><img src="img/14.jpg" class="w-100" alt="img25"></a>
                            </figure>
                        </div>
                    </div>
                    <div class="footer_ti2 bg_back pt-5 text-center px-4 position-absolute w-100 h-100 top-0">
                        <span class="d-inline-block bg-white rounded-circle col_oran fs-1"><i class="fa fa-video-camera"></i></span>
                        <h2 class="mb-0 text-white mt-3"> Hot Movies Trailers Live Now</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="footer" class="p_3 bg-black">
    <div class="container-xl">
        <div class="footer_1 row pb-4">
            <div class="col-md-3">
                <div class="footer_1l">
                    <h4 class="mb-0"><a class="fw-bold text-white" href="index.html"><i class="fa fa-modx col_oran"></i> Movie Theme </a></h4>
                </div>
            </div>
            <div class="col-md-9">
                <div class="footer_1r text-end">
                    <ul class="mb-0">
                        <li class="d-inline-block"><a class="text-white-50 a_tag" href="#">Help</a></li>
                        <li class="d-inline-block text-white-50">/</li>
                        <li class="d-inline-block me-2"><a class="text-white-50 a_tag" href="#"> Privacy Policy</a></li>
                        <li class="d-inline-block"><a class="social_icon" href="#"> <i class="fa fa-twitter"></i></a></li>
                        <li class="d-inline-block"><a class="social_icon" href="#"> <i class="fa fa-facebook"></i></a></li>
                        <li class="d-inline-block"><a class="social_icon" href="#"> <i class="fa fa-instagram"></i></a></li>
                        <li class="d-inline-block"><a class="social_icon" href="#"> <i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer_2 row mt-4">
            <div class="col-md-3">
                <div class="footer_2i">
                    <p class="text-white fw-bold fs-5">Buy movie tickets easily with Aovis system nationwide</p>
                    <h6 class="mb-0 mt-4"><a class="button" href="#">Get Your Ticket</a></h6>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer_2i">
                    <h5 class="col_oran mb-4">Movies</h5>
                    <div class="row footer_1ism">
                        <h6 class="fw-normal col-md-12 col-6"><a class="text-white-50 a_tag" href="#"> Action</a></h6>
                        <h6 class="fw-normal mt-2 col-md-12 col-6"><a class="text-white-50 a_tag" href="#"> Adventure</a></h6>
                        <h6 class="fw-normal mt-2 col-md-12 col-6"><a class="text-white-50 a_tag" href="#"> Animation</a></h6>
                        <h6 class="fw-normal mt-2 col-md-12 col-6"><a class="text-white-50 a_tag" href="#"> Thriller</a></h6>
                        <h6 class="fw-normal mt-2 col-md-12 col-6"><a class="text-white-50 a_tag" href="#"> Crime</a></h6>
                        <h6 class="fw-normal mt-2 col-md-12 col-6 mb-0"><a class="text-white-50 a_tag" href="#"> Comedy</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer_2i">
                    <h5 class="col_oran mb-4">Links</h5>
                    <div class="row footer_1ism">
                        <h6 class="fw-normal col-md-12 col-6"><a class="text-white-50 a_tag" href="#"> About Us</a></h6>
                        <h6 class="fw-normal mt-2 col-md-12 col-6"><a class="text-white-50 a_tag" href="#"> My account</a></h6>
                        <h6 class="fw-normal mt-2 col-md-12 col-6"><a class="text-white-50 a_tag" href="#"> News</a></h6>
                        <h6 class="fw-normal mt-2 col-md-12 col-6"><a class="text-white-50 a_tag" href="#"> Latest Events</a></h6>
                        <h6 class="fw-normal mt-2 col-md-12 col-6"><a class="text-white-50 a_tag" href="#"> Privacy</a></h6>
                        <h6 class="fw-normal mt-2 col-md-12 col-6 mb-0"><a class="text-white-50 a_tag" href="#"> Contact Us</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer_2i">
                    <h5 class="col_oran mb-4">Newsletter</h5>
                    <p class="text-white-50">Subscribe to Leitmotif newsletter this very day.</p>
                    <div class="input-group bg-white">
                        <input type="text" class="form-control bg-transparent rounded-0 border-0" placeholder="Enter Your Email">
                        <span class="input-group-btn">
					<button class="btn btn-primary bg-transparent rounded-0 border-0 col_oran p-3" type="button">
						<i class="fa fa-location-arrow"></i></button>
				</span>
                    </div>
                    <div class="form-check mt-3 text-white-50">
                        <input class="form-check-input" type="checkbox" value="" id ="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            I agree to all terms and policies of the company
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>