<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/blog.css}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</head>

<body>

<div class="main_o main">
    <div class="main_o1 bg_back">

        <section id="header">
            <div th:replace="~{layout/navbar :: navbar}"></div>
        </section>

        <section id="center" class="centre_o pt-5 pb-5">
            <div class="container-xl">
                <div class="row centre_o1 text-center">
                    <div class="col-md-12">
                        <h1 class="text-white font_60">Login</h1>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>

<section id="login" class="p_3">
    <div class="container-xl">
        <div class="row login_1">
            <div class="col-md-12">

                <div class="login_1m p-5 px-4 w-50 mx-auto bg-light">

                    <form id="loginForm">

                        <h6 class="mb-3 fw-bold">Email / Username</h6>
                        <input class="form-control" id="username" name="username" placeholder="Email or Username" type="text" required>

                        <h6 class="mb-3 fw-bold mt-4">Password</h6>
                        <input class="form-control" id="password" name="password" placeholder="Password" type="password" required>

                        <div class="login_1mi row mt-3">
                            <div class="col-md-6 col-6">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" name="remember-me">
                                    <label class="form-check-label">Remember Me</label>
                                </div>
                            </div>
                            <div class="col-md-6 col-6 text-end">
                                <h6><a class="col_oran" href="#">Forgot Password?</a></h6>
                            </div>
                        </div>

                        <button class="button d-block text-center w-100 mt-4" type="submit">
                            LOGIN
                        </button>

                        <div class="text-center mt-3">
                            <p class="mb-2 text-muted">Or</p>
                            <a th:href="@{/oauth2/authorization/google}" class="btn btn-outline-danger w-100 d-flex align-items-center justify-content-center py-2" style="border-radius: 0; border: 1px solid #dc3545;">
                                <i class="fa fa-google me-2"></i> Login with Google
                            </a>
                        </div>

                    </form>

                    <p class="mt-4 mb-0 text-center">
                        Don't have an account?
                        <a class="fw-bold col_oran" th:href="@{/register}">Create New Account</a>
                    </p>

                </div>

            </div>
        </div>
    </div>
</section>

<footer th:replace="~{layout/footer :: footer}"></footer>
<script th:src="@{/js/auth.js}"></script>
</body>
</html>