<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movie Theme</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/about.css}">
    <link href="https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</head>
<body>

<div class="main_o">
    <div class="main_o1 bg_back">
        <section id="header">
            <nav class="navbar navbar-expand-md navbar-light px_4" id="navbar_sticky">
                <div class="container-fluid">
                    <a class="navbar-brand  p-0 fw-bold text-white" href="index.html"><i class="fa fa-modx col_oran"></i> Movie Theme </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mb-0 ms-auto">

                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" th:href="@{/}>Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link active" th:href="@{/about}">About Us</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMovie" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Movies
                                </a>
                                <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="movies.html"><i class="fa fa-chevron-right font_12 me-1"></i> Movies</a></li>
                                    <li><a class="dropdown-item border-0" href="detail.html"><i class="fa fa-chevron-right font_12 me-1"></i> Movie Details</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Blogs
                                </a>
                                <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="blog.html"><i class="fa fa-chevron-right font_12 me-1"></i> Blogs</a></li>
                                    <li><a class="dropdown-item border-0" href="blog_detail.html"><i class="fa fa-chevron-right font_12 me-1"></i> Blog Details</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Pages
                                </a>
                                <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="faq.html"><i class="fa fa-chevron-right font_12 me-1"></i> Faqs</a></li>
                                    <li><a class="dropdown-item" href="login.html"><i class="fa fa-chevron-right font_12 me-1"></i> Login</a></li>
                                    <li><a class="dropdown-item" href="register.html"><i class="fa fa-chevron-right font_12 me-1"></i> Register</a></li>
                                    <li><a class="dropdown-item border-0" href="ticket.html"><i class="fa fa-chevron-right font_12 me-1"></i> Ticket</a></li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Contact Us</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav mb-0 ms-auto">
                            <li class="nav-item">
                                <a class="nav-link fs-5 drop_icon" data-bs-target="#exampleModal2" data-bs-toggle="modal" href="#"><i class="fa fa-search"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fs-5 drop_icon" href="#"><i class="fa fa-user"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </section>
        <section id="center" class="centre_o  pt-5 pb-5">
            <div class="container-xl">
                <div class="row centre_o1 text-center">
                    <div class="col-md-12">
                        <h1 class="text-white font_60">About Us</h1>
                        <h5 class="mb-0 mt-3 fw-normal col_oran"><a class="text-light" th:href="@{/}>Home</a> <span class="mx-2 text-muted">/</span> About Us</h5>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="border_dashed">

</div>

<section id="about_pg" class="p_3">
    <div class="container-xl">
        <div class="row about_pg1">
            <div class="col-md-6">
                <div class="about_pg1l position-relative">
                    <div class="about_pg1l1">
                        <div class="grid clearfix">
                            <figure class="effect-jazz mb-0">
                                <a href="#"><img src="img/29.jpg" class="w-100" alt="abc"></a>
                            </figure>
                        </div>
                    </div>
                    <div class="about_pg1l2 position-absolute top-0">
                        <h1 class="mb-0 bg-white rounded-circle text-center col_oran">22 <br>
                            <span class="fs-6 d-block mt-3 text-muted">Years of <br>
Producing</span></h1>
                    </div>
                    <div class="about_pg1l3 position-absolute top-0 text-end w-100">
                        <span><a class="d-inline-block fs-5 bg_oran text-white text-center" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#templateVideoModal"><i class="fa fa-play"></i></a></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about_pg1r">
                    <span class="fa fa-film col_oran"></span>
                    <h6 class="text-muted mt-3">Get To Know</h6>
                    <h1 class="mb-0 font_50">Proving the Best Film
                        Services</h1>
                    <p class="mt-4 mb-4">Lorem ipsum dolor sit amet consectur adipiscing elit sed eiusmod tempor incididunt labore dolore magna aliquaenim ad minim. Sed risus commodo ornare felis non, eleifend molestie metus pharetra eleifend.</p>
                    <div class="about_pg1ri row">
                        <div class="col-md-2">
                            <div class="about_pg1ril">
                                <span class="col_oran font_60 lh-1"><i class="fa fa-video-camera"></i></span>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="about_pg1rir">
                                <h5>5 Years of Innovation</h5>
                                <p>We're here for look even you from start to finish.</p>
                            </div>
                        </div>
                    </div>
                    <h6 class="mb-0 mt-4"><a class="button_2" href="#">Discover More</a></h6>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="spec_main position-relative">
    <div class="spec_main1">
        <section id="spec">
            <div class="spec_m bg_back">
                <div class="container-xl">
                    <div class="spec_1 row text-center">
                        <div class="col-md-12">
                            <h1 class="text-white font_50">Watch Live Interview with <br>
                                Movie Producer</h1>
                            <h6 class="mb-0 mt-4"><a class="button" href="#">Discover More</a></h6>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="spec_main2 position-absolute w-100">
        <section id="spec_o" class="p_3">
            <div class="container-xl">
                <div class="row spec_o1 bg-white">
                    <div class="col-md-3">
                        <div class="spec_o1l pb-5">
                            <div class="spec_o1li row">
                                <div class="col-md-4 pe-0 col-4">
                                    <div class="spec_o1lil bg-light text-center pt-5">
                                        <span class="col_oran font_50"><i class="fa fa-trophy"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-8 col-8">
                                    <div class="spec_o1lir pt-4">
                                        <h1 class="font_50 lh-1">24</h1>
                                        <h6 class="mb-0 text-muted">Awards Won</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="spec_o1l pb-5">
                            <div class="spec_o1li row">
                                <div class="col-md-4 pe-0 col-4">
                                    <div class="spec_o1lil bg-light text-center pt-5">
                                        <span class="col_oran font_50"><i class="fa fa-video-camera"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-8 col-8">
                                    <div class="spec_o1lir pt-4">
                                        <h1 class="font_50 lh-1">860</h1>
                                        <h6 class="mb-0 text-muted">Films Produce</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="spec_o1l pb-5">
                            <div class="spec_o1li row">
                                <div class="col-md-4 pe-0 col-4">
                                    <div class="spec_o1lil bg-light text-center pt-5">
                                        <span class="col_oran font_50"><i class="fa fa-user-plus"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-8 col-8">
                                    <div class="spec_o1lir pt-4">
                                        <h1 class="font_50 lh-1">31</h1>
                                        <h6 class="mb-0 text-muted">Pro Directors</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="spec_o1l pb-5">
                            <div class="spec_o1li row">
                                <div class="col-md-4 pe-0 col-4">
                                    <div class="spec_o1lil bg-light text-center pt-5">
                                        <span class="col_oran font_50"><i class="fa fa-ticket"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-8 col-8">
                                    <div class="spec_o1lir pt-4">
                                        <h1 class="font_50 lh-1">920</h1>
                                        <h6 class="mb-0 text-muted">Tickets Sold</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<section id="team" class="p_3 pt-0">
    <div class="container-xl">
        <div class="row trend_1 text-center mb-4">
            <div class="col-md-12">
                <span class="fa fa-film col_oran"></span>
                <h6 class="text-muted mt-3">The Film Crew</h6>
                <h1 class="mb-0 font_50">Professional Film Crew</h1>
            </div>
        </div>
        <div class="row team_1">
            <div class="col-md-4">
                <div class="team_1i">
                    <div class="team_1im position-relative">
                        <div class="team_1im1">
                            <img src="img/30.jpg" alt="abc">
                        </div>
                        <div class="team_1im2 position-absolute"></div>
                    </div>
                    <div class="team_1i1 row">
                        <div class="col-md-6">
                            <div class="team_1i1l">
                                <h5>Lorem Amet</h5>
                                <h6 class="text-muted mb-0">Film Director</h6>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="team_1i1r text-end">
                                <ul class="mb-0">
                                    <li class="d-inline-block"><a class="social_icon social_icon1" href="#"> <i class="fa fa-facebook"></i></a></li>
                                    <li class="d-inline-block"><a class="social_icon social_icon1" href="#"> <i class="fa fa-instagram"></i></a></li>
                                    <li class="d-inline-block"><a class="social_icon social_icon1" href="#"> <i class="fa fa-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team_1i">
                    <div class="team_1im position-relative">
                        <div class="team_1im1">
                            <img src="img/31.jpg" alt="abc">
                        </div>
                        <div class="team_1im2 position-absolute"></div>
                    </div>
                    <div class="team_1i1 row">
                        <div class="col-md-6">
                            <div class="team_1i1l">
                                <h5>Ipsum Porta</h5>
                                <h6 class="text-muted mb-0">Film Director</h6>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="team_1i1r text-end">
                                <ul class="mb-0">
                                    <li class="d-inline-block"><a class="social_icon social_icon1" href="#"> <i class="fa fa-facebook"></i></a></li>
                                    <li class="d-inline-block"><a class="social_icon social_icon1" href="#"> <i class="fa fa-instagram"></i></a></li>
                                    <li class="d-inline-block"><a class="social_icon social_icon1" href="#"> <i class="fa fa-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team_1i">
                    <div class="team_1im position-relative">
                        <div class="team_1im1">
                            <img src="img/32.jpg" alt="abc">
                        </div>
                        <div class="team_1im2 position-absolute"></div>
                    </div>
                    <div class="team_1i1 row">
                        <div class="col-md-6">
                            <div class="team_1i1l">
                                <h5>Dolor Quis</h5>
                                <h6 class="text-muted mb-0">Film Director</h6>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="team_1i1r text-end">
                                <ul class="mb-0">
                                    <li class="d-inline-block"><a class="social_icon social_icon1" href="#"> <i class="fa fa-facebook"></i></a></li>
                                    <li class="d-inline-block"><a class="social_icon social_icon1" href="#"> <i class="fa fa-instagram"></i></a></li>
                                    <li class="d-inline-block"><a class="social_icon social_icon1" href="#"> <i class="fa fa-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="testim" class="p_3 bg-light carousel_p">
    <div class="container-xl">
        <div class="row testim_1">
            <div class="col-md-6">
                <div class="testim_1l">
                    <span class="fa fa-film col_oran"></span>
                    <h6 class="text-muted mt-3">Our Feedbacks</h6>
                    <h1 class="mb-0 font_50">What They’re
                        Talking About us?</h1>
                    <p class="mt-3">Every man must decide whether he will walk in the light of creative altruism or in the darkness of eritdestructive selfishness. Ut porttitor et lectus ut tempus. Aliquam lacinia justo.</p>
                    <div id="carouselExampleCaptions2" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="1" aria-label="Slide 2" class="" aria-current="true"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="testim_1i row">
                                    <div class="col-md-12">
                                        <div class="testim_1i1 bg-white p-4 clearfix">
                                            <span class="d-inline-block bg_oran text-white text-center span_1 rounded-circle"><i class="fa fa-quote-left"></i></span>
                                            <div class="testim_1i1i clearfix mt-3">
                                                <span><img src="img/19.jpg" alt="abc" class="rounded-circle me-3 float-start"></span>
                                                <h6 class="mb-0 fw-bold text-uppercase"> Eget Nulla <br> <span class="col_oran font_14 fw-normal">Customer</span></h6>
                                            </div>
                                            <p class="mb-0 mt-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer typesetting, remaining essentially unchanged.</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="testim_1i row">
                                    <div class="col-md-12">
                                        <div class="testim_1i1 bg-white p-4 clearfix">
                                            <span class="d-inline-block bg_oran text-white text-center span_1 rounded-circle"><i class="fa fa-quote-left"></i></span>
                                            <div class="testim_1i1i clearfix mt-3">
                                                <span><img src="img/20.jpg" alt="abc" class="rounded-circle me-3 float-start"></span>
                                                <h6 class="mb-0 fw-bold text-uppercase"> Lorem Porta <br> <span class="col_oran font_14 fw-normal">Customer</span></h6>
                                            </div>
                                            <p class="mb-0 mt-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer typesetting, remaining essentially unchanged.</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="testim_1rn position-relative">
                    <div class="testim_1rn1 text-center">
                        <img src="img/35.jpg" class="rounded-circle" alt="abc">
                    </div>
                    <div class="testim_1rn2 position-absolute top-0 text-end w-100">
                        <img src="img/33.jpg" class="rounded-circle" alt="abc">
                    </div>
                    <div class="testim_1rn3 position-absolute top-0 w-100">
                        <img src="img/34.jpg" class="rounded-circle" alt="abc">
                    </div>
                    <div class="testim_1rn4 position-absolute position-absolute top-0 w-100 text-end">
                        <img src="img/36.jpg" class="rounded-circle" alt="abc">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section id="footer" class="p_3 bg-black">
    <div class="container-xl">
        <div class="footer_1 row pb-4">
            <div class="col-md-3">
                <div class="footer_1l">
                    <h4 class="mb-0"><a class="fw-bold text-white" href="index.html"><i class="fa fa-modx col_oran"></i> Movie Theme </a></h4>
                </div>
            </div>
            <div class="col-md-9">
                <div class="footer_1r text-end">
                    <ul class="mb-0">
                        <li class="d-inline-block"><a class="text-white-50 a_tag" href="#">Help</a></li>
                        <li class="d-inline-block text-white-50">/</li>
                        <li class="d-inline-block me-2"><a class="text-white-50 a_tag" href="#"> Privacy Policy</a></li>
                        <li class="d-inline-block"><a class="social_icon" href="#"> <i class="fa fa-twitter"></i></a></li>
                        <li class="d-inline-block"><a class="social_icon" href="#"> <i class="fa fa-facebook"></i></a></li>
                        <li class="d-inline-block"><a class="social_icon" href="#"> <i class="fa fa-instagram"></i></a></li>
                        <li class="d-inline-block"><a class="social_icon" href="#"> <i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer_2 row mt-4">
            <div class="col-md-3">
                <div class="footer_2i">
                    <p class="text-white fw-bold fs-5">Buy movie tickets easily with Aovis system nationwide</p>
                    <h6 class="mb-0 mt-4"><a class="button" href="#">Get Your Ticket</a></h6>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer_2i">
                    <h5 class="col_oran mb-4">Movies</h5>
                    <div class="row footer_1ism">
                        <h6 class="fw-normal col-md-12 col-6"><a class="text-white-50 a_tag" href="#"> Action</a></h6>
                        <h6 class="fw-normal mt-2 col-md-12 col-6"><a class="text-white-50 a_tag" href="#"> Adventure</a></h6>
                        <h6 class="fw-normal mt-2 col-md-12 col-6"><a class="text-white-50 a_tag" href="#"> Animation</a></h6>
                        <h6 class="fw-normal mt-2 col-md-12 col-6"><a class="text-white-50 a_tag" href="#"> Thriller</a></h6>
                        <h6 class="fw-normal mt-2 col-md-12 col-6"><a class="text-white-50 a_tag" href="#"> Crime</a></h6>
                        <h6 class="fw-normal mt-2 col-md-12 col-6 mb-0"><a class="text-white-50 a_tag" href="#"> Comedy</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer_2i">
                    <h5 class="col_oran mb-4">Links</h5>
                    <div class="row footer_1ism">
                        <h6 class="fw-normal col-md-12 col-6"><a class="text-white-50 a_tag" href="#"> About Us</a></h6>
                        <h6 class="fw-normal mt-2 col-md-12 col-6"><a class="text-white-50 a_tag" href="#"> My account</a></h6>
                        <h6 class="fw-normal mt-2 col-md-12 col-6"><a class="text-white-50 a_tag" href="#"> News</a></h6>
                        <h6 class="fw-normal mt-2 col-md-12 col-6"><a class="text-white-50 a_tag" href="#"> Latest Events</a></h6>
                        <h6 class="fw-normal mt-2 col-md-12 col-6"><a class="text-white-50 a_tag" href="#"> Privacy</a></h6>
                        <h6 class="fw-normal mt-2 col-md-12 col-6 mb-0"><a class="text-white-50 a_tag" href="#"> Contact Us</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer_2i">
                    <h5 class="col_oran mb-4">Newsletter</h5>
                    <p class="text-white-50">Subscribe to Leitmotif newsletter this very day.</p>
                    <div class="input-group bg-white">
                        <input type="text" class="form-control bg-transparent rounded-0 border-0" placeholder="Enter Your Email">
                        <span class="input-group-btn">
					<button class="btn btn-primary bg-transparent rounded-0 border-0 col_oran p-3" type="button">
						<i class="fa fa-location-arrow"></i></button>
				</span>
                    </div>
                    <div class="form-check mt-3 text-white-50">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            I agree to all terms and policies of the company
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="footer_b" class="pt-3 pb-3 bg-dark">
    <div class="container-xl">
        <div class="footer_b1 row text-center">
            <div class="col-md-12">
                <p class="mb-0 text-white-50">© 2013 Your Website Name. All Rights Reserved | Design by <a class="col_oran fw-bold" href="http://www.templateonweb.com">TemplateOnWeb</a></p>
            </div>
        </div>
    </div>
</section>

<!-- Video Modal -->
<div class="modal fade" id="templateVideoModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="videoModalLabel">  Video</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- YouTube Embed -->
                <div class="ratio ratio-16x9">
                    <iframe id="youtubeVideo" src="" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope" loading="lazy" allowfullscreen></iframe>
                </div>


            </div>

        </div>
    </div>
</div>
<!-- JavaScript to pause the video when modal is closed -->
<script>
    var templateVideoModal = document.getElementById('templateVideoModal');
    templateVideoModal.addEventListener('hide.bs.modal', function () {
        var iframe = document.getElementById('youtubeVideo');
        iframe.src = '';
    });

    templateVideoModal.addEventListener('show.bs.modal', function () {
        var iframe = document.getElementById('youtubeVideo');
        iframe.src = 'https://www.youtube.com/embed/xHYMdZvV1f0?autoplay=1';
    });
</script>
<script src="js/common.js"></script>

</body>


</html>