.payment-container{

    display:flex;
    gap:20px;

}

.payment-box{

    border:1px solid #ddd;
    padding:15px;
    text-align:center;
    cursor:pointer;
    width:120px;
    border-radius:8px;
    transition:0.3s;

}

.payment-box:hover{

    border-color:#007bff;
    transform:scale(1.05);

}

.payment-box input{

    display:none;

}

.payment-box input:checked + img{

    border:3px solid #007bff;
    border-radius:10px;

}

.payment-icon{

    width:50px;

}

.price-row{

    display:flex;
    justify-content:space-between;
    margin:5px 0;

}

.discount{

    color:red;

}

.total{

    font-weight:bold;
    font-size:18px;

}

.seat-price{

    display:flex;
    justify-content:space-between;
    margin-bottom:10px;

}
html, body {
    height: 100%;
}

body{
    display:flex;
    flex-direction:column;
}

.container{
    flex:1;
}
.booking-summary{
    position: sticky;
    top: 120px;
    height: fit-content;
}